@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*----------------------------------------------------Heading*/

header {
    margin: 0;
}

body {
    padding-bottom: 81px;
}

.navbar {
    min-height: 90px;
    background-color: #000;
}

.logo {
    background: url("../images/homepage/sis-logo.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 90px;
}

.navbar-toggler i {
    color: #fff;
}

.nav-link {
    display: inline;    
    color: #13A6DB;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
    letter-spacing: 1px;
}

/*----------------------------------------------------Hover*/

a:hover {
    color: #F9F871;
    text-decoration: none;
}

.nav-link:focus, .nav-link:hover {
    color: #F9F871;
}

.social-links li a i:hover {
    color: #F9F871;
}

/*----------------------------------------------------Index.html*/

.home-background {
    background-color: #000;
    padding-top: 120px;
}

.sis-bio p {
    color: #FFF;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
}

.jesse-hero-image {
    background-repeat: no-repeat;
}

.hero-image {
    background-repeat: no-repeat;
}

.coming-soon-heading {
    color: #13A6DB;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}

.coming-soon-song-title {
    color: #13A6DB;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}

.upcoming-events {
    color: #13A6DB;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}

.dates {
    color: #FFF;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 1px;
    padding-top: 20px;
    /* padding-bottom: 80px; */
    text-align: center;
}

.upcoming-events-images{
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    padding-top: 30px;
}

.second-event {
    padding-bottom: 20px;
}

.dylan-hero-image {
    background-repeat: no-repeat;
}

/*----------------------------------------------------Footer*/

.footer-background {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    color: #13A6DB;
    text-decoration: none;
}

.button-style {    
    background-color: #000;
    font-family: "Titillium Web", sans-serif;
    font-style: italic;
    font-size: 24px;
    letter-spacing: 1px;
    margin: 20px 0px 20px 10px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.copywright-style {
    color: #FFF;
    font-family: "Titillium Web", sans-serif;
    font-style: italic;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.social-links li a i {
    margin: 0;
    color: #13A6DB;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*----------------------------------------------------media queries*/

@media screen and (max-width: 520px) {
    .coming-soon-heading {
        padding-top: 20px;
    }
    
    .footer-links {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-background {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
}