@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*----------------------------------------------------Special paddings/margins/text*/

body {
    background-color: #000;
    padding-top: 120px;
}

.container-fluid {
    margin-bottom: 200px;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    color: #13A6DB;
    font-weight: 700;
    font-family: "Titillium Web", sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    text-align: center;
}

h1 {
    font-size: 50px;
    /* margin-top: 20px; */
}

.para-text {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
}

.img-fluid {
    background: no-repeat;
    padding-bottom: 20px;
    /* height: auto; */
    /* max-width: 100%; */
}

.blue-text {
    font-weight: 700;
}

.video {
    height: auto;
    max-width: 100%;
}

/*----------------------------------------------------Heading*/

header {
    margin: 0;
}

.navbar {
    min-height: 90px;
    background-color: #000;
}

.logo {
    background: url("../images/homepage/sis-logo.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 90px;
}

.navbar-toggler i {
    color: #fff;
}

.nav-link {
    display: inline;    
    color: #13A6DB;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    letter-spacing: 1px;
}

/*----------------------------------------------------Hover/Active*/

a:hover {
    color: #F9F871;
    /* text-decoration: none; */
}

.nav-link:hover {
    color: #F9F871;
    text-decoration: underline;
}

.active {
    color: #F9F871;
}

#myBtn:hover { 
    color: #F9F871;
}

.social-links li a i:hover {
    color: #F9F871;
}

/*----------------------------------------------------index.html*/

/* .home-background {
    padding-top: 120px;
} */

.dates {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;    
    font-size: 20px;    
    padding-top: 10px;
    padding-bottom: 20px;    
}

/*----------------------------------------------------Footer*/

.footer-background { /*.......received assistance from Tutor Support with the footer CSS*/
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    color: #13A6DB;
}

.footer-button-style {
    font-family: "Titillium Web", sans-serif;
    font-style: italic;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 0px 20px 10px;
    text-align: center;
    text-decoration: none;
}

.copywright-style p {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;  
    line-height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.social-links li a i {
    margin: 0;
    color: #13A6DB;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*----------------------------------------------------music.html*/

.song-title {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    letter-spacing: 1px; 
    font-style: italic;
    text-align: left;
    margin-left: 20px;
}

.play-lyrics-btn {
    color: #13A6DB;
    font-family: "Titillium Web", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    text-align: left;
}

.new-single-text {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    letter-spacing: 1px; 
    text-align: left;
    margin-left: 20px;

}



/*----------------------------------------------------Modal*/

.modal-title {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    width: 90%;
}

.modal-body {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

/*----------------------------------------------------Read-more-Read-less-button*/

#more {
    margin-top: 280px;
    display: none;
}

#myBtn { 
    background-color: black;
    color: #13A6DB;
    font-family: "Titillium Web", sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/*----------------------------------------------------gigs.html*/


/*----------------------------------------------------The Band*/


/*----------------------------------------------------Merchandise*/



/*----------------------------------------------------carousel - credits to Slack*/

.carousel {
    margin-left: 150px;
    overflow: hidden; /*---credits to stackoverflow---*/
    height: 500px;
    width: 597px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.carousel-caption {
    top: 40px;
    color: #13A6DB;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
    letter-spacing: 1px;
    z-index: 10;
}

.carousel .item {
    height: 500px;
    width: 400px;
    background-color: transparent;
}

.carousel-inner > .item > img {
    
    margin: 0px auto;
    min-width: auto;
    height: 500px;
    max-width: none;
}

/*----------------------------------------------------contact-us*/

.contact-us-form {
    margin-top: 300px;
    margin-left: 30px;
    
    text-align: left;
    color: #13A6DB;
    font-family: "Titillium Web", sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.label-text {
    margin-right: 30px;
    margin-left: 30px;
    width: 140px;
    
}

#name, #email, #phone-number {
    text-align: left;
    width: 300px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 1px;
}

#subject {
    text-align: left;
    height: 28px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 1px;
}

.text-area {
    width: 480px;
    height: 300px;
    margin-left: 30px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 1px;
}

.submit-button {
    margin-left: 30px;
    background-color: #000;
    color: #13A6DB;
    font-family: "Titillium Web", sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 700;
}

.contact-us-image {
    margin-top: 300px;
    /* margin-right: 50px; */
    margin-right: 600px;
    margin-left: 200px;
}

/*----------------------------------------------------thank-you*/

.thank-you {
    color: #13A6DB;
    
    top: 250px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 25px;
}

/*----------------------------------------------------media queries*/

/*-----extra small devices (portrait, phones, less than 590px)....*/
@media screen and (max-width: 590px) {
    
   
    .footer-links {
        width: 100%;
    }

    .footer-background {
        flex-direction: column;
    }
}

/*-------------------------small devices (landscape, phones, 590px and up)---*/

@media screen and (min-width: 590px) {
    
    
 }

/*-------------------------medium devices (tablets, 768px and up)---*/

 @media screen and (min-width: 768px) {
 
    .container-fluid {
        margin-bottom: 60px;
    }
    
    .bg-music-image {
        position: relative;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
    /*--image opacity code sourced from coder-coder.com - see testing.md--*/
    .bg-music-image::before {
        content: "";
        background-image: url("../images/music/j&d-b&w-music.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.2;
    }

 }

 /*-------------------------large devices (desktops, 992px and up)....*/

@media screen and (min-width: 992px) {


}
 
 /*-------------------------extra large devices (large desktops, 1200px and up)....*/

 @media screen and (min-width: 1200px) {
   

 }

/*-------------------------extra large devices (large desktop, 1200px and up)....*/

 @media screen and (min-width: 1200px) {
    
    
 }